pkgbase = swirl-bin
	pkgdesc = A High Level, statically typed, Compiled programming language
	pkgver = 0.0.4.alpha.0
	pkgrel = 1
	url = https://github.com/SwirlLang/Swirl
	arch = x86_64
	license = GPL
	provides = swirl
	conflicts = swirl
	source = swirl
	md5sums = b10d5e2737c4ec9ce9654434e6c9902f

pkgname = swirl-bin
